.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store

# Virtual environments
.venv/

# Package builds
*.tar.gz
*.Rcheck/

# Python caching
__pycache__/
*.pyc

# Quarto / Notebooks
/.quarto/
*_cache/
*_files/
*.html

# Allow only published site
!docs/
!docs/**

# Generated test outputs
output/

ignore/
